{
  "903905": "YOUR_ROLE_ID_FOR_64GB_LCD",
  "903906": "YOUR_ROLE_ID_FOR_256GB_LCD",
  "903907": "YOUR_ROLE_ID_FOR_512GB_LCD",
  "1202542": "YOUR_ROLE_ID_FOR_512GB_OLED",
  "1202547": "YOUR_ROLE_ID_FOR_1TB_OLED"
}
